<h1>編集ページ</h1>

<div>
  <%= form_for @blog do |form| %>
    <%= form.label :content, "内容" %>
    <%= form.text_field :content %>
    <%= form.label :picture, "画像" %>
    <%= image_tag(@blog.picture.url) if @blog.picture && @blog.picture.url %>
    <%= form.file_field :image %>

    <%= form.submit "投稿" %>
  <% end %>
</div>
